$gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

html, body {
    padding: 0px;
    margin: 0px;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: $pale-blue;
    height: 100%;
}

body {
    background: url(../images/bg-desktop.png) no-repeat bottom left, $very-dark-blue;
    background-size: 100% 50%;
    min-height: 100%;
    @media (max-width: 400px) {
        background: url(../images/bg-mobile.png) no-repeat top left, $very-dark-blue;
        background-size: 100% 100%;
    }
}

.main-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    padding-top: 180px;
    @media (min-width: 400px) {
        flex-wrap: nowrap;
    }
    &__secondary-container {
        margin: 10px;
    }
}

.tool-bar {
    
    background-color: $dark-blue;
    border-radius: 10px 80px 10px 10px;
    padding: 25px 37px;
    max-width: 400px;
    flex: 1 0 auto;
    &__logo {
        display: block;
        margin: 8px
    }

    &__icon {
        border: 10px solid $very-dark-blue;
    }
}

.flex {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    background-color: $very-dark-blue;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    &__icon {
        width: 20px;
    }
    &--try {
        background-color: white;
        color: black;
    }
}

.storage-info {
    background-color: $dark-blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    flex: 2 0 auto;
}

.usage {
    &__size {
        font-weight: 700;
        display: inline;
    }
}

.progress-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__bar-container {
        padding: 2px;
        background: $very-dark-blue;
        border-radius: 14px;
        width: 100%;
        margin: 10px 0px;
    }
    &__bar {
        background: $gradient;
        height: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border-radius: 10px;
        width: 81.5%;
    }
    &__cursor {
        background: $pale-blue;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 2px;
    }
    &__boundary {
        font-weight: 700;
    }
}

.stock {
    background: white;
    border-radius: 15px;

    padding: 15px;
    position: relative;
    top: 30px;
    margin: -20px;
    &__number {
        color: $very-dark-blue;
        font-size: 2em;
        font-weight: 700;
    }
    &__left {
        color: $grayish-blue;
    }
}